<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
</head>
<body>
  <form action="/albums" method="post">
    <label>Title</label>
    <input type="text" name="title" />

    <label>Artist</label>
    <input type="text" name="artist" />

    <label>Songs Count</label>
   <input type="number" name="songCount" />

    <label>Length</label>
    <input type="number" name="length" />

    <label>Image URL</label>
    <input type="text" name="imageUrl" />

    <input type="submit" value="Add Album!">
  </form>
</body>
</html>